@import url("https://fonts.googleapis.com/css?family=Quicksand|Noto+Serif&display=swap");

.ReactCollapse--collapse {
	transition: height 500ms;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: wrap;
	/* --overflow-x: auto; */
	overflow-y: auto;
	justify-content: center;
	/* margin-right: 35px;
	margin-left: 35px; */
}

.card {
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 100px;
	padding-right: 100px;
}

.facebook-card {
	display: inline-block;
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
}

.sticky-header {
	position: sticky;
	top: 0;
	background-color: white;
	padding: 10px;
}

.main-title {
	font-family: "Quicksand";
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}

.main-title:hover {
	opacity: 0.5;
	cursor: pointer;
}

.subtitles {
	font-family: "Noto Serif";
	margin-left: 52px;
}

.subtitles:hover {
	opacity: 0.5;
	cursor: pointer;
	transform: scale(1.1);
}

.social-button {
	justify-content: center;
	padding-right: 50px;
	padding-left: 50px;
}

.social-button:hover {
	opacity: 0.5;
	cursor: pointer;
	transform: scale(1.1);
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
